<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>addBook</display-name>
    <servlet-name>addBook</servlet-name>
    <servlet-class>model.addBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBook</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBook</display-name>
    <servlet-name>ViewBook</servlet-name>
    <servlet-class>model.ViewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBook</servlet-name>
    <url-pattern>/ViewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewBook</display-name>
    <servlet-name>viewBook</servlet-name>
    <servlet-class>model.viewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewBook</servlet-name>
    <url-pattern>/viewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateBook</display-name>
    <servlet-name>updateBook</servlet-name>
    <servlet-class>model.updateBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBook</servlet-name>
    <url-pattern>/updateBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBook</display-name>
    <servlet-name>deleteBook</servlet-name>
    <servlet-class>model.deleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBook</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
</web-app>